{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Agenda Django</title>
  <link rel="stylesheet" href="{% static 'global/css/style.css' %}" />
  {% block extracss %}
    <!-- Extra css -->
  {% endblock extracss %}
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>

<body>
  <header>
    <h1>Agenda</h1>
    <!-- navigation menu -->
    <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">New Contact</a></li>
        <li><a href="#">Categories</a></li>
<!--
        <li><a href=" % url 'home' %}">Home</a></li>
        <li><a href=" % url 'contact_list' %}">Contacts</a></li>
        <li><a href=" % url 'add_contact' %}">New Contact</a></li>
        <li><a href=" % url 'categories' %}">Categories</a></li>
-->
      </ul>
    </nav>
  </header>

  <main>
    <!-- Main content -->
    {% block content %}

    {% endblock %}
  </main>

  <!-- Do not use this website for production, it was just a practice website to learn Django -->
  <footer>
    <p>Just a Django practice project, not for production use.</p>
  </footer>

</body>
</html>

