{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Agenda Django</title>
  <link rel="stylesheet" href="{% static 'global/css/style.css' %}" />
</head>
<body>
  <header>
    <h1>Agenda Django</h1>
    <!-- Aqui pode entrar o menu de navegação -->
  </header>

  <main>
    <!-- Conteúdo principal da página -->
    {% block content %}

    {% endblock %}
  </main>

  <footer>
    <p>© 2025 Agenda Django. Todos os direitos reservados.</p>
  </footer>
</body>
</html>

