{% load static %}
<!DOCTYPE html>
<html lang="en_US">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  {% block title %}
    <title>Agenda Django</title>
  {% endblock title %}
  <link rel="stylesheet" href="{% static 'global/css/style.css' %}" />
  {% block extracss %}
    <!-- Extra css -->
  {% endblock extracss %}
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>

<body>
  <header>
    <h1>Agenda</h1>
    <!-- navigation menu -->
    <nav>
      <ul>
	<li><a href="{% url 'contact:index' %}">Home</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">New Contact</a></li>
        <li><a href="#">Categories</a></li>
      </ul>
    </nav>
  </header>

  <main>
    {% block content %}
      <!-- Main content -->
    {% endblock %}
    {% include 'global/partials/_pagination.html' %}
  </main>

  <!-- Do not use this website for production, it was just a practice website to learn Django -->
  <footer>
    <p>Just a Django practice project, not for production use.</p>
  </footer>

</body>
</html>

