{% extends "global/base.html" %}
{% load static %}

{% block content %}
<h1>Category: {{ category.category_name }}</h1>

<a href="{% url 'contact:category_update' category.id %}">
    <button>Update</button>
</a>

<a href="{% url 'contact:category_delete' category.id %}">
    <button>Delete</button>
</a>

<br><br>

<a href="{% url 'contact:contacts_by_category' category.id %}">
    <button>View Contacts in this Category</button>
</a>

<br><br>
<a href="{% url 'contact:category_list' %}">Back to Categories</a>
{% endblock %}

