{% extends "global/base.html" %}
{% load static %}

{% block content %}
<h1>Your Categories</h1>

<ul>
  {% for category in categories %}
  <li>
    <a href="{% url 'contact:category_detail' category.id %}">
      {{ category.category_name }}
    </a>
    | <a href="{% url 'contact:contacts_by_category' category.id %}">View Contacts</a>
  </li>
{% empty %}
  <li>No categories yet.</li>
{% endfor %}

</ul>

<br>

<a href="{% url 'contact:category_create' %}">
    <button>Create Category</button>
</a>

<br><br>
<a href="{% url 'contact:contacts' %}">Back to All Contacts</a>
{% endblock %}

